

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
.home{

  height: 100vh;
  padding: 0%;
  margin: 0%;
}

.box-container{

  height: 80vh;
  background-image: url('./assets/pngwing.png');
 width: 50%;
 
  color: #fff;
  font-family: 'Poppins', sans-serif;
}